<footer class="bg-[#277db3] max-md:border-t max-md:border-t-white py-5 max-md:pb-16">
	<div class="container !max-w-none flex items-center gap-3 justify-between max-sm:flex-col">
		<a href="https://best4travel.com.au" target="_blank" class="text-sm flex items-center gap-3">
			Brought to you by Best 4 Travel, Hillarys
		</a>
		<a href="https://tomdotcom.au" target="_blank" class="text-sm hover-underline">Built by Tom</a>
	</div>
</footer>
