<footer class="bg-[#277db3] max-md:border-t max-md:border-t-white py-5">
	<div class="container !max-w-none flex items-center gap-3 justify-between max-sm:flex-col max-sm:text-center">
		<a href="https://best4travel.com.au" target="_blank" class="text-sm flex items-center gap-3">
			Brought to you by Best 4 Travel
		</a>
		<div class="flex items-center gap-6 max-sm:flex-col max-sm:gap-2 max-sm:text-center">
			{% if options.terms_and_conditions_link %}
				<a href="{{ options.terms_and_conditions_link }}" target="_blank" class="text-sm hover-underline">Terms & Conditions</a>
			{% endif %}
			<a href="https://tomdotcom.au" target="_blank" class="text-sm hover-underline">Built by Tom</a>
		</div>
	</div>
</footer>
