{% set is_front_page = fn('is_front_page') %}

{% if is_front_page %}
	{% include 'partial/scrolling-text.twig' %}
{% endif %}
<header class="transition-all duration-300 sticky top-0 bg-white z-10">
	<div data-navigation
		class="container z-20 w-full flex max-sm:items-center justify-between transition-all duration-300">
		<a href="{{ site.url }}" rel="home" class="py-4">{% include 'icons/logo.twig' %}</a>
		<nav id="nav-main" class="pt-4" role="navigation">
			{% include 'menu.twig' with {
				items: menu.get_items
			} %}
		</nav>
		<!-- #nav -->
	</div>
</header>
